<!-- <ngb-carousel *ngIf="images" class="carouselBox">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[0]" alt="Random first slide" />
    </div>
    <div class="carousel-caption">
      <h3>10 seconds between slides...</h3>
      <p>This carousel uses customized default values.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]" alt="Random second slide" />
    </div>
    <div class="carousel-caption">
      <h3>Introduction of the LF</h3>
      <p>This carousel doesn't pause or resume on mouse events</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[2]" alt="Random third slide" />
    </div>
    <div class="carousel-caption">
      <h3>No keyboard...</h3>
      <p>This carousel uses customized default values.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[3]" alt="Random fourth slide" />
    </div>
    <div class="carousel-caption">
      <h3>And no wrap after last slide.</h3>
      <p>This carousel uses customized default values.</p>
    </div>
  </ng-template>
</ngb-carousel> -->

<div class="cover">

</div>

<div class="container">

  <div class="int">
    <h1>Basics</h1>
    <h4>Learn the basics of Filipino phrases!</h4>
    <p>(Alamin ang mga pangunahing kaalaman sa mga pariralang Filipino!)</p><hr id="hr">
  </div>


  <div class="first">
    <div class="one">
      <h3>Kumusta</h3>
      <h6>(Hello) </h6>
      <p>Hyphenation: ku‧mus‧ta. <br>
        IPA: /kumusˈta/, [kʊ.mʊsˈta]</p>
    </div>
    <div class="example">
      <h6>Kumusta is Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia consectetur neque sed laboriosam reprehenderit dolorum unde! Ducimus eos cum libero odit voluptatem commodi perferendis earum!</h6>
    </div>
  </div><hr>
  <div class="first">
    <div class="one">
      <h3>Magandang umaga!</h3>
      <h6>(Good morning!)</h6>
      <p>
        Hyphenation: ma‧gan‧dang u‧ma‧ga <br>
        IPA: /maˌɡandaŋ ʔuˈmaɡa/, [mɐˌɣan.dɐŋ ʔʊˈma.ɣɐ]
      </p>
    </div>
    <div class="example">
      <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia consectetur neque sed laboriosam reprehenderit dolorum unde! Ducimus eos cum libero odit voluptatem commodi perferendis earum!</h6>
    </div>
  </div><hr>
  <div class="first">
    <div class="one">
      <h3>Magandang gabi!</h3>
      <h6>(Good evening!)</h6>
      <p>
        Hyphenation: ma‧gan‧dang ga‧bi <br>
        IPA: /maˌɡandaŋ ɡaˈbi/, [mɐˌɣan.dɐŋ ɡɐˈbi]
      </p>
    </div>
    <div class="example">
      <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia consectetur neque sed laboriosam reprehenderit dolorum unde! Ducimus eos cum libero odit voluptatem commodi perferendis earum!</h6>
    </div>
  </div><hr>

</div>
<footer class="text-center text-lg-start bg-primary">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <h3><span>Our focus is on your success and we can guide you there.</span></h3>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="links">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Learn Filipino.
          </h6>
          <p>
            Here you can use rows and columns to organize your footer content. Lorem ipsum
            dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Courses
          </h6>
          <p>
            <a href="#!" class="text-reset">Beginner's Level</a>
          </p>
          <p>
            <a href="#!" class="text-reset">React</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Vue</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Laravel</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="">Learn Filipino.</a>
  </div>
  <!-- Copyright -->
</footer>
